/* Opacity (0.1 a 1.0) - Sem important */
.opacity-10 { opacity: 0.1; }
.opacity-20 { opacity: 0.2; }
.opacity-30 { opacity: 0.3; }
.opacity-40 { opacity: 0.4; }
.opacity-50 { opacity: 0.5; }
.opacity-60 { opacity: 0.6; }
.opacity-70 { opacity: 0.7; }
.opacity-80 { opacity: 0.8; }
.opacity-90 { opacity: 0.9; }
.opacity-100 { opacity: 1; }

/* Opacity (0.1 a 1.0) - Com important (sufixo: -i) */
.opacity-10-i { opacity: 0.1 !important; }
.opacity-20-i { opacity: 0.2 !important; }
.opacity-30-i { opacity: 0.3 !important; }
.opacity-40-i { opacity: 0.4 !important; }
.opacity-50-i { opacity: 0.5 !important; }
.opacity-60-i { opacity: 0.6 !important; }
.opacity-70-i { opacity: 0.7 !important; }
.opacity-80-i { opacity: 0.8 !important; }
.opacity-90-i { opacity: 0.9 !important; }
.opacity-100-i { opacity: 1 !important; }
