/* Margin - Sem important */
.m-0 { margin: 0; }
.m-5 { margin: 5px; }
.m-10 { margin: 10px; }
.m-15 { margin: 15px; }
.m-20 { margin: 20px; }
.m-25 { margin: 25px; }
.m-30 { margin: 30px; }
.m-35 { margin: 35px; }
.m-40 { margin: 40px; }
.m-50 { margin: 50px; }

/* Margin - Com important (sufixo: -i) */
.m-0-i { margin: 0 !important; }
.m-5-i { margin: 5px !important; }
.m-10-i { margin: 10px !important; }
.m-15-i { margin: 15px !important; }
.m-20-i { margin: 20px !important; }
.m-25-i { margin: 25px !important; }
.m-30-i { margin: 30px !important; }
.m-35-i { margin: 35px !important; }
.m-40-i { margin: 40px !important; }
.m-50-i { margin: 50px !important; }

.mt-0 { margin-top: 0; }
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }
.mt-35 { margin-top: 35px; }
.mt-40 { margin-top: 40px; }
.mt-50 { margin-top: 50px; }

.mt-0-i { margin-top: 0 !important; }
.mt-5-i { margin-top: 5px !important; }
.mt-10-i { margin-top: 10px !important; }
.mt-15-i { margin-top: 15px !important; }
.mt-20-i { margin-top: 20px !important; }
.mt-25-i { margin-top: 25px !important; }
.mt-30-i { margin-top: 30px !important; }
.mt-35-i { margin-top: 35px !important; }
.mt-40-i { margin-top: 40px !important; }
.mt-50-i { margin-top: 50px !important; }

.mb-0 { margin-bottom: 0; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }
.mb-35 { margin-bottom: 35px; }
.mb-40 { margin-bottom: 40px; }
.mb-50 { margin-bottom: 50px; }

.mb-0-i { margin-bottom: 0 !important; }
.mb-5-i { margin-bottom: 5px !important; }
.mb-10-i { margin-bottom: 10px !important; }
.mb-15-i { margin-bottom: 15px !important; }
.mb-20-i { margin-bottom: 20px !important; }
.mb-25-i { margin-bottom: 25px !important; }
.mb-30-i { margin-bottom: 30px !important; }
.mb-35-i { margin-bottom: 35px !important; }
.mb-40-i { margin-bottom: 40px !important; }
.mb-50-i { margin-bottom: 50px !important; }

.ml-0 { margin-left: 0; }
.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }
.ml-30 { margin-left: 30px; }
.ml-35 { margin-left: 35px; }
.ml-40 { margin-left: 40px; }
.ml-50 { margin-left: 50px; }

.ml-0-i { margin-left: 0 !important; }
.ml-5-i { margin-left: 5px !important; }
.ml-10-i { margin-left: 10px !important; }
.ml-15-i { margin-left: 15px !important; }
.ml-20-i { margin-left: 20px !important; }
.ml-25-i { margin-left: 25px !important; }
.ml-30-i { margin-left: 30px !important; }
.ml-35-i { margin-left: 35px !important; }
.ml-40-i { margin-left: 40px !important; }
.ml-50-i { margin-left: 50px !important; }

.mr-0 { margin-right: 0; }
.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }
.mr-35 { margin-right: 35px; }
.mr-40 { margin-right: 40px; }
.mr-50 { margin-right: 50px; }

.mr-0-i { margin-right: 0 !important; }
.mr-5-i { margin-right: 5px !important; }
.mr-10-i { margin-right: 10px !important; }
.mr-15-i { margin-right: 15px !important; }
.mr-20-i { margin-right: 20px !important; }
.mr-25-i { margin-right: 25px !important; }
.mr-30-i { margin-right: 30px !important; }
.mr-35-i { margin-right: 35px !important; }
.mr-40-i { margin-right: 40px !important; }
.mr-50-i { margin-right: 50px !important; }

/* Padding - Sem important */
.p-0 { padding: 0; }
.p-5 { padding: 5px; }
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }
.p-25 { padding: 25px; }
.p-30 { padding: 30px; }
.p-35 { padding: 35px; }
.p-40 { padding: 40px; }
.p-50 { padding: 50px; }

/* Padding - Com important (sufixo: -i) */
.p-0-i { padding: 0 !important; }
.p-5-i { padding: 5px !important; }
.p-10-i { padding: 10px !important; }
.p-15-i { padding: 15px !important; }
.p-20-i { padding: 20px !important; }
.p-25-i { padding: 25px !important; }
.p-30-i { padding: 30px !important; }
.p-35-i { padding: 35px !important; }
.p-40-i { padding: 40px !important; }
.p-50-i { padding: 50px !important; }

.pt-0 { padding-top: 0; }
.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pt-25 { padding-top: 25px; }
.pt-30 { padding-top: 30px; }
.pt-35 { padding-top: 35px; }
.pt-40 { padding-top: 40px; }
.pt-50 { padding-top: 50px; }

.pt-0-i { padding-top: 0 !important; }
.pt-5-i { padding-top: 5px !important; }
.pt-10-i { padding-top: 10px !important; }
.pt-15-i { padding-top: 15px !important; }
.pt-20-i { padding-top: 20px !important; }
.pt-25-i { padding-top: 25px !important; }
.pt-30-i { padding-top: 30px !important; }
.pt-35-i { padding-top: 35px !important; }
.pt-40-i { padding-top: 40px !important; }
.pt-50-i { padding-top: 50px !important; }

.pb-0 { padding-bottom: 0; }
.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-25 { padding-bottom: 25px; }
.pb-30 { padding-bottom: 30px; }
.pb-35 { padding-bottom: 35px; }
.pb-40 { padding-bottom: 40px; }
.pb-50 { padding-bottom: 50px; }

.pb-0-i { padding-bottom: 0 !important; }
.pb-5-i { padding-bottom: 5px !important; }
.pb-10-i { padding-bottom: 10px !important; }
.pb-15-i { padding-bottom: 15px !important; }
.pb-20-i { padding-bottom: 20px !important; }
.pb-25-i { padding-bottom: 25px !important; }
.pb-30-i { padding-bottom: 30px !important; }
.pb-35-i { padding-bottom: 35px !important; }
.pb-40-i { padding-bottom: 40px !important; }
.pb-50-i { padding-bottom: 50px !important; }

.pl-0 { padding-left: 0; }
.pl-5 { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-25 { padding-left: 25px; }
.pl-30 { padding-left: 30px; }
.pl-35 { padding-left: 35px; }
.pl-40 { padding-left: 40px; }
.pl-50 { padding-left: 50px; }

.pl-0-i { padding-left: 0 !important; }
.pl-5-i { padding-left: 5px !important; }
.pl-10-i { padding-left: 10px !important; }
.pl-15-i { padding-left: 15px !important; }
.pl-20-i { padding-left: 20px !important; }
.pl-25-i { padding-left: 25px !important; }
.pl-30-i { padding-left: 30px !important; }
.pl-35-i { padding-left: 35px !important; }
.pl-40-i { padding-left: 40px !important; }
.pl-50-i { padding-left: 50px !important; }

.pr-0 { padding-right: 0; }
.pr-5 { padding-right: 5px; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pr-25 { padding-right: 25px; }
.pr-30 { padding-right: 30px; }
.pr-35 { padding-right: 35px; }
.pr-40 { padding-right: 40px; }
.pr-50 { padding-right: 50px; }

.pr-0-i { padding-right: 0 !important; }
.pr-5-i { padding-right: 5px !important; }
.pr-10-i { padding-right: 10px !important; }
.pr-15-i { padding-right: 15px !important; }
.pr-20-i { padding-right: 20px !important; }
.pr-25-i { padding-right: 25px !important; }
.pr-30-i { padding-right: 30px !important; }
.pr-35-i { padding-right: 35px !important; }
.pr-40-i { padding-right: 40px !important; }
.pr-50-i { padding-right: 50px !important; }
